{{#each js}}
   <script id="{{@key}}"src={{this}}></script>
{{/each}}

{{#each styles}}
<link rel="stylesheet" href="/styles/{{this}}.css">
{{/each}}

<h1>{{title}}</h1>

<p><b>Wins</b></p>
<p id = "xscore">X Wins: {{score.[0]}}</p>
<p id = "oscore">O Wins:  {{score.[1]}}</p>

<div class="card">
      <table class="table table-bordered" style="vertical-align:middle">
        <div class = "stacked" id = "popup" ></div>
        {{#each board}}
          <tr>
            <td class="tile text-center align-middle" onclick="tileClick([{{@index}},0])" id="{{@index}}0">
              <h1 class="fade-in">{{this.[0]}}</h1>
            </td>
            <td class="tile text-center align-middle" onclick="tileClick([{{@index}},1])" id="{{@index}}1">
              <h1 class="fade-in">{{this.[1]}}</h1>
            </td>
            <td class="tile text-center align-middle" onclick="tileClick([{{@index}},2])" id="{{@index}}2">
              <h1 class="fade-in">{{this.[2]}}</h1>
            </td>
          </tr>
        {{/each}}
      </table>
            
</div>