{{#each js}}
   <script src=&#8220{{this}}&#8220></script>
{{/each}}


<h1 >{{title}}</h1>

<p><b>Wins</b></p>
<p>Player 1 &#40;You&#41;: {{score.[0]}}</p>
<p>Player 2:  {{score.[1]}}</p>

<div class="card">
      <table class="table table-bordered">
        {{#each board}}
          <tr>
            <td>
              <h1>{{this.[0]}}</h1>
            </td>
            <td>
              <h1>{{this.[1]}}</h1>

            </td>
            <td>
              <h1>{{this.[2]}}</h1>
            </td>
          </tr>
        {{/each}}
      </table>
</div>