
{{#each styles}}
  <link rel="stylesheet" href="/styles/{{this}}.css">
<script src= {{js}}></script>
{{/each}}


<h1 >{{title}}</h1>

<p><b>Wins</b></p>
<p>Player 1 &#40;You&#41;: {{score.[0]}}</p>
<p>Player 2:  {{score.[1]}}</p>

<div class="card">
      <table class="table table-bordered">
        {{#each board}}
          <tr>
            <td>
              {{this.[0]}}
            </td>
            <td>
              {{this.[1]}}

            </td>
            <td>
              {{this.[2]}}
            </td>
          </tr>
        {{/each}}
      </table>
</div>